@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap");

* {
  font-family: "Maven Pro", sans-serif;
  box-sizing: border-box;
}

.i {
  display: flex;
  height: 120vh;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 400;
}

.i-name {
  font-size: 60px;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 8s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  /* 75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  } */
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #ffc200;
  display: flex;
  align-items: center;
}

.i-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

.i-img {
  width: 80%;
  height: 60%;
  margin-top: 0px;
}

.btn-highlighted-btn {
  font-size: 14px;
  margin-left: 20px;
  width: 200px;
  border-radius: 50px;
  outline: none;
  border: none;
  background: #474559;
  height: 45px;
  color: white;
  transition: all 0.3s linear;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-highlighted-btn a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.btn-highlighted-btn:hover,
.btn-highlighted-btn:focus {
  transition: all 0.3s linear;
  background: #ffc200;
}

.btn-primary-btn {
  font-size: 14px;
  width: 200px;
  height: 45px;
  border-radius: 50px;
  background: #eeeeee;
  transition: all 0.3s linear;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary-btn a {
  text-decoration: none;
  color: #5b5b5b;
  font-weight: 600;
}

.btn-primary-btn a:hover,
.btn-primary-btn a:focus {
  transition: all 0.3s linear;
  color: #ffc200;
}

/* .i-bg {
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #59b256;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
} */
@media screen and (max-width: 920px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-top: 50px;
    width: 100%;
  }

  .i-desc {
    /* display: none; */

    text-align: justify;
    margin: 20px 20px 20px 20px;
  }
  .i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 50px;
  }
  .i-img {
    width: 100%;
    height: 100%;
    margin-top: 20px;

    position: relative;
  }

  .btn-highlighted-btn {
    font-size: 12px;
  }
  .btn-primary-btn {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-top: 50px;
  }
  .profile-options {
    width: 100%;
  }

  .i-desc {
    /* display: none; */

    text-align: justify;
    margin: 20px 20px 20px 20px;
  }
  .i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 50px;
  }
  .i-img {
    width: 100%;
    height: 100%;
    margin-top: 20px;

    position: relative;
  }

  .btn-highlighted-btn {
    font-size: 12px;
  }
  .btn-primary-btn {
    font-size: 12px;
  }
}
